<!DOCTYPE html>
<html>
<head>
  <title>Present</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% #= javascript_include_tag "stream_events", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "drawing", "data-turbolocks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
